.noStyleLi{
  list-style-type: none;
}

.noMarginUl{
  margin:-3px;  
}

.inline{
  display:inline-block;
}

.block{
  display:block;
}

.posAbsolute{
    position: absolute;
}

.contrasted{
  -webkit-filter: contrast(5);
}

.contrasted2{
  -webkit-filter: contrast(1);
}

.popsicle{
    position: absolute;
 height: 300px;
    width: 140px;
    border-radius: 80px 80px 20px 20px;
  background-color: #cc9228;
  -webkit-filter: blur(3px);
  transform-origin:bottom;
    left: 445px;
}

.popsicleFillingLeft{
    position: absolute;
    height: 230px;
    width: 50px;
    border-radius: 80px 10px 20px 20px;
    background: -webkit-linear-gradient(left, rgba(94,69,24,0.2) 5%, rgba(204,146,40,0.1) 90%,rgba(242,186,146,0.4)5%);
    left:460px;
    top: 7%;
}

.popsicleFillingRight{
    position: absolute;
    height: 230px;
    width: 50px;
    border-radius: 10px 80px 20px 20px;
    background: -webkit-linear-gradient(left, rgba(94,69,24,0.2) 1%, rgba(204,146,40,0.1) 90%,rgba(242,186,146,0.4)5%);
    left:520px;
    top:7%;
}
.popsicleAnimForward{
/*     -webkit-animation: meltAnim 10s linear 100ms infinite; */
  
  animation-name: meltAnim;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forward;
animation-play-state: running;
  animation-delay: 100ms;
}
.popsicleAnimReverse{
    -webkit-animation: meltAnim 100s linear 100ms infinite reverse;
}


.drip{
  position: absolute;
  height:100px;
  width:100px;
    background-color: #cc9228;
   left:140px;
  top:290px;
  border-radius: 50%;
    -webkit-filter: blur(3px);
    }

.dripAnimForward{
   -webkit-animation: dripAnim 1s linear infinite;
}

.dripAnimReverse{
   -webkit-animation: dripAnim 1s linear infinite reverse;
}


.stick{
  height:180px;
  width:30px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e0b361;
  -webkit-filter: blur(1px);
  position: absolute;
  left: 500px;
  top: 50%;
}

.repositionDripForward{
  -webkit-animation: repositionDripAnim 100s linear 100ms infinite alternate;
}
.repositionDripReverse{
  -webkit-animation: repositionDripAnim 100s linear 100ms infinite reverse;
}

.puddle{
  position:absolute;
  height:5px;
    background-color: #cc9228;
  left:130px;
    top:420px;
  border-radius:50%;
     -webkit-filter: blur(2px);
}

.puddleAnimForward{
  -webkit-animation: puddleAnim 100s linear infinite alternate;
}

.puddleAnimReverse{
  
  -webkit-animation: puddleAnim 100s linear infinite reverse;
}


@-webkit-keyframes dripAnim {
  0% { -webkit-transform: translate(0, 0px); width: 5px; height: 5px; }
  50% { -webkit-transform: translate(0px, 2px); width: 15px; height:15px; }
  60% { -webkit-transform: translate(0, 4px); width: 15px; height: 15px; }
  100% { -webkit-transform: translate(0,123px); width: 15px; height: 15px; }
}

@-webkit-keyframes meltAnim {
  0% { -webkit-transform: translate(0, 0px);}
  100% {-webkit-transform: translate(0,300px);
    height: 1px; }
}

@-webkit-keyframes repositionDripAnim {
  0% { -webkit-transform: translate(0, 0px);}
  100% {-webkit-transform: translate(0,00px);
  }
}

@-webkit-keyframes stickAnim {
   0% { -webkit-transform: translate(0, 0px);}
  100% {-webkit-transform: translate(0, 300px);}
}

@-webkit-keyframes puddleAnim {
   0% {width:0px;}
  100% {width:100px}
}


body {
  height: 100%;
  background-color: #001f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}



